/* Container */
.banner-containerid {
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;

  /* padding: 5px 0; */
}
.banner-containerid h3{
  text-align: center; 
   color: black;
   font-family: 'Lora';
    font-size: 1.6rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-weight: 500;
}
.banner-containerid p{
  text-align: center; 
   color: #D2BD50; 
   text-transform: lowercase;
    font-size: 1.1rem;
   font-family: 'open sans';
   letter-spacing: 0.05em;
}
/* Wrapper */
.banner-wrapper {
  width: 100%;
  height: auto;
  padding: 0% 1% 1%;
  display: grid;
  gap: 20px;


  grid-template-areas:
    "left-top center right-top"
    "left-bottom center right-bottom";
  grid-template-columns: 4fr 2.7fr 4fr;   /* Responsive — no fixed px */
  grid-template-rows: 310px 310px;   
   /* Equal height rows */
}

/* Item base */
.banner-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  
} 


.banner-item:hover {
  filter: brightness(1.1);
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Grid placement (same as now) */
.banner-left-top    { grid-area: left-top; }
.banner-left-bottom { grid-area: left-bottom; }
.banner-right-top   { grid-area: right-top; }
.banner-right-bottom{ grid-area: right-bottom; }
.banner-center      { 
  grid-area: center; 
  height: 100%;
  width: 100%;
  
}
  
/* Responsive — Mobile */
@media (max-width: 1024px) {
  .banner-wrapper {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "left-top right-top"
      "center center"
      "left-bottom right-bottom";
    grid-template-rows: 250px 450px 250px;
  }
}

/* Prevent collapse on mobile */
@media (max-width: 768px) {
  .banner-container {
    height: auto;        /* allow full height */
    padding-bottom: 20px; 
    align-items: center;
   
  }

  .banner-wrapper {
    height: auto;        /* grid expands naturally */
  }
}


/* Mobile phones */
@media (max-width: 600px) {
  .banner-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left-top"
      "center"
      "right-top"
      "left-bottom"
      "right-bottom";
    grid-template-rows: repeat(5, 240px);
  }
  .grid{
    height: 450vh;
  
  }
}
@media (max-width: 1366px) {
  .grid {
    height: auto !important;
  }
   .banner-wrapper {
    height: auto;        /* grid expands naturally */
    
   }
}
@media (max-width: 480px) {
 .grid {
    height: auto !important;
    
  }
}