
/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    text-decoration: none;
    font-family: 'Montserrat';
   letter-spacing: 0.05em;

}


body {
  opacity: 0;
   overflow-x: hidden;
  animation: fadeIn 0.2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ---------------- MOBILE MENU ---------------- */
/* ---------------- FIXED MOBILE MENU ---------------- */
