*{
    letter-spacing: 0.03em;
}
.banner_sections{
    width: 100vw;
    height: fit-content; 
    margin-top: 1%;
  

}
.banner-toggle-wrapper{
    width: 100%;
    z-index: 0;
    height: auto;
    margin-top: 1.05%;
}
@media (max-width: 1366px) {
    .banner-toggle-wrapper{
        height: 245vh;
        margin-top: 0%;
    }
    .banner_sections{
     height: auto;
    }
}

@media (max-width: 480px) {
    .banner-toggle-wrapper{
        height: 200vh;
        margin-top: 0%;
       
        
    } 
    .banner_sections{
     height: auto;
     
    }

  

    
}
