/* ============================
   HERO SECTION
============================ */
.hero-section {
  position: relative;
  width: 100%;
  height: 94vh;
  overflow: hidden;
  margin-top: 60px;
  background-color: #000;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.no-video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  color: #fff;
}

/* ============================
   BANNER SECTION
============================ */
.banner-section {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.banner-container {
  width: 100%;
  height: 100vh;
}

.banner-container1 {
  width: 100%;
  height: auto;
}

.banner-1,
.banner-2 {
  height: 95vh;
}

.banner-toggle {
  width: 100%;
  height: auto ;
  

}

/* ============================
   STORIES
============================ */
.stories-section {
  width: 100%;
  height: auto;
  margin-top: 0px;
}

/* ========================================
   LARGE LAPTOPS - 1366px
======================================== */
@media (max-width: 1366px) {
  .hero-section {
    height: 100vh;
    margin-top: 2%;
  }

  .banner-1,
  .banner-2 {
    height: 95vh !important;
        
  }

  .banner-toggle {
    height: 245vh !important;
    

  }
}

/* ========================================
   STANDARD LAPTOPS - 1280px (NEW)
======================================== */
@media (max-width: 1480px) {
  .hero-section {
    height: 94vh;
    margin-top: 60px;
  }

  .banner-1,
  .banner-2 {
    height: 90vh;
  }

  .banner-toggle {
    height: 170vh;
      border: 1px solid red;
  }

  .banner-section {
    gap: 20px;
  }
}

/* ========================================
   SMALL LAPTOPS / BIG TABLETS - 1024px
======================================== */
@media (max-width: 1024px) {
  .hero-section {
    height: 85vh;
    margin-top: 55px;
  }

  .banner-1,
  .banner-2 {
    height: 85vh;
      
  }

  .banner-toggle {
    min-height: 80vh;
  }
}

/* ============================
   TABLETS - 768px
============================ */
@media (max-width: 768px) {
  .hero-section {
    height: 86vh;
    margin-top: 60px;
  }

  .hero-video {
    height: 86vh;
    position: relative;
  }

  .banner-1,
  .banner-2 {
    height: auto;
  }

  .banner-toggle {
    height: 535vh !important;
    margin-top: 0px;
    margin-bottom: 0px;

  }

  .stories-section {
    margin-top: 0;
  }
}

/* ============================
   MOBILE PHONES - 480px
============================ */
@media (max-width: 480px) {
  .hero-section {
    height: 100vh;
    width: 100vw;
    margin-top: 50px;  }

  .hero-video {
    height: 100vh;
    
  }

  .banner-1,
  .banner-2 {
    height: 90vh !important;
    width: 100vw ;
  }

  .banner-toggle {
    width: 100vw;
    height: 581vh !important;
    margin: 0;
  }

  .banner-container1 {
    width: 100%;
    height: 100vh;
  }

  .stories-section {
    margin-top: 0; 
    padding: 0;
  }
}
