:root {
  --green: #082415;
  --gold: #d9c169;
  --muted: #777;
  --border: rgba(0, 0, 0, 0.08);
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* PAGE STRUCTURE */
.pageWrap {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  font-family: "Open Sans", sans-serif;
}

/* LAYOUT */
.container {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
  background: #fafafa;
  border-right: 1px solid var(--border);
  padding: 40px 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 12px;
  transition: all 0.2s ease;
}

.navItem:hover {
  background: rgba(0, 0, 0, 0.05);
}

.active {
  color: var(--green);
  font-weight: 600;
  background: rgba(0, 0, 0, 0.05);
}

/* CONTENT */
.content {
  padding: 40px 50px;
}

.sectionTitle {
  font-family: "Lora", serif;
  font-size: 22px;
  font-weight: bold;
  color: var(--green);
  margin-bottom: 30px;
}

/* SETTINGS CARD */
.card {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-left: 10%;
  background: #fff;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  padding: 25px 30px;
  max-width: 850px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.cardLeft {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  flex: 2;
}

.icon {
  color: var(--green);
  margin-top: 3px;
}

.cardTitle {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.cardText {
  font-size: 14px;
  color: var(--muted);
  line-height: 1.5;
}

/* RIGHT SIDE */
.cardRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.signOutBtn {
  border: 1px solid var(--green);
  background: #ffff;
  color: rgb(0, 0, 0);
  font-weight: 600;
  
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.25s ease;
}

.signOutBtn:hover {
  color: white;
background: var(--green);
  border-color: var(--green);
}

.note {
  font-size: 12px;
  color: var(--muted);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
  .content {
    padding: 20px;
  }
  .card {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }
  .cardRight {
    align-items: flex-start;
  }
}
